<main role="main">
    <section class="mt-4 mb-5">
    <div class="container-fluid">
    	<div class="row" style="padding-bottom:20px">
            <h1 class="font-weight-bold title">
				探索，畅想未来
			</h1>
        </div>
    </div>
    <div class="container-fluid">
    	<div class="row">
    		<div class="card-columns">
				<% @opus.each do |opu|%>
    			<div class="card card-pin">
					<%= image_tag opu.image,class:"card-img",alt:"Card image"%>
    				<div class="overlay">
    					<h2 class="card-title title"><%= opu.opusname%></h2>
							<div class="more">
								<%= link_to :action => "details",:controller => "opus",:id => @user.id,:opu_id => opu.id do%>
									<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More 
								<% end %>
							</div>
    				</div>
    			</div>
				<% end %>
    		</div>
    	</div>
    </div>
    </section>
        
    </main>
