<main role="main">
    <section class="mt-4 mb-5">
    <div class="container-fluid">
    	<div class="row" style="padding-bottom:20px">
            <h1 class="font-weight-bold title">
				探索，畅想未来
			</h1>
        </div>
    </div>
    <div class="container-fluid">
    	<div class="row">
    		<div class="card-columns">
				<% @opus.each do |opu|%>
    			<div class="card card-pin">
					<%= image_tag opu.image,class:"card-img",alt:"Card image"%>
    				<div class="overlay">
    					<h2 class="card-title title">Cool Title</h2>
    					<div class="more">
    						<a href="/opus/details">
    						<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More </a>
    					</div>
    				</div>
    			</div>
				<% end %>
    		</div>
    	</div>
    </div>
    </section>
        
    </main>
