<div style="padding:40px">
    <section>
        <div class="container d-flex flex-column">
            <div class="row align-items-center justify-content-center min-vh-100">
                <div class="col-md-6 col-lg-5 col-xl-5 py-6 py-md-0">
                    <div class="card shadow zindex-100 mb-0">
                        <div class="card-body px-md-5 py-5">
                            <div class="mb-5">
                                <h6 class="h3">Login</h6>
                                <p class="text-muted mb-0">Sign in to your account to continue.</p>
                            </div>
                            <span class="clearfix"></span>
                            <%= form_tag "loginCheck",method:'get' do %>
                                <div class="form-group">
                                    <label class="form-control-label">Email address</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-users" aria-hidden="true"></i></span>
                                        </div>
                                        <%= text_field_tag :username,params[:username],class:"form-control",placeholder:"用户名"%>
                                    </div>
                                </div>
                                <div class="form-group mb-0">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div>
                                            <label class="form-control-label">Password</label>
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-cogs" aria-hidden="true"></i></span>
                                        </div>
                                        <%= password_field_tag :password, params[:password],class:"form-control",placeholder:"密码"%>
                                    </div>
                                </div>
                                <div class="mt-4">
                                    <%= submit_tag '登录',class:"btn btn-block btn-primary"%>
                                </div>
                            <% end %>
                        </div>
                        <div class="card-footer px-md-5"><small>Not registered?</small>
                            <a href="/users/new" class="small font-weight-bold">Create account</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        feather.replace({
            'width': '1em',
            'height': '1em'
        })
    </script>
</div>